body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    background-image: linear-gradient(45deg, #ff5252, #ff4081, #e040fb, #7c4dff, #536dfe, #448aff, #40c4ff, #18ffff, #64ffda, #69f0ae, #b2ff59, #eeff41, #ffd740, #ffab40, #ff6e40, #ff5252);
    background-size: 400% 400%;
    animation: gradientBackground 10s ease infinite;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 50px auto;
    padding: 30px;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

form div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: calc(100% - 10px);
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
    background-color: rgba(255, 255, 255, 0.95);
}

button {
    padding: 12px 24px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

#mensaje {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
